<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Contact Management</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Contact Management</h1>
    <hr>
    <h2>Details</h2>

    <form action="#" th:action="@{/saveContact}" th:object="${contact}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{name}" class="form-control mb-4 col-4">
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Contact name error</span>

        <input type="text" th:field="*{email}" class="form-control mb-4 col-4">
        <span class="validationError"
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}">Email error</span>

        <input type="text" th:field="${*{mothers_name}" placeholder="Mother's name" class="form-control mb-4 col-4">
        <span class="validationError"
              th:if="${#fields.hasErrors('mothers_name')}"
              th:errors="*{mothers_name}">Contact name error</span>

        <input type="text" th:field="${#dates.format(*{birth_date}, 'yyyy-MM-dd')}" placeholder="Birth date" class="form-control mb-4 col-4">

        <input type="text" th:field="*{social_number}" placeholder="Social number" class="form-control mb-4 col-4">
        <span class="validationError"
              th:if="${#fields.hasErrors('social_number')}"
              th:errors="*{social_number}">Contact name error</span>

        <input type="text" th:field="*{tax_number}" placeholder="Tax number" class="form-control mb-4 col-4">
        <span class="validationError"
              th:if="${#fields.hasErrors('tax_number')}"
              th:errors="*{tax_number}">Contact name error</span>

        <button type="submit" class="btn btn-info col-2"> Update contact</button>
    </form>
    <p>
    <a th:href="@{/anonymize/{id}(id=${contact.id})}"
       class="btn btn-danger">Anonymize</a>
    <p>

    <a th:href = "@{/}"> Back to Contact List</a>
</div>
</body>
</html>
